"*":
  "exception-reporting":
    userId: "62255ded-44d6-31cb-fa2a-07be8c77e743"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles:
      color: "#c5c8c6"
      opacity: 0.3
      cr: "↩"
      tab: "⇥"
    showInvisibles: true
    fontSize: 15
  "atom-beautify":
    _analyticsUserId: "68cc2295-e2bf-4599-8047-4d173e8b4e3b"
  jshint: {}
  "linter-jshint":
    executablePath: "/usr/local/bin/jshint"
    lintInlineJavaScript: true
  linter:
    showErrorPanel: false
  minimap: {}
  "go-find-references": {}
  "go-rename": {}
  "go-find-references": {}
  "go-plus": {}
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
  "atom-autocomplete-php":
    binComposer: "/usr/bin/composer"
